{{ define "partials/header" }}

<head>
  <meta charset="UTF-8" />
  <title>MarauderBoard</title>
  <link
    rel="icon"
    type="image/png"
    sizes="256x256"
    href="/static/favicon.png"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    rel="stylesheet"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
  <script src="https://unpkg.com/htmx.org@1.9.3" defer></script>
  <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css"
  />
</head>
<style>
  body {
    font-family: "Inter", sans-serif;
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
</style>
{{ end }}
