{{define "partials/navbar"}}

<nav class="bg-white shadow-xs">
  <div class="container mx-auto px-4 py-3 flex justify-between items-center">
    <a class="flex items-center text-xl cursor-pointer font-bold text-indigo-600" href="/">
      <img src="/static/favicon.png" alt="MarauderBoard Logo" class="w-20 h-20">
      <span>MarauderBoard</span>
    </a>
    <div class="flex items-center space-x-4">
      {{ if or (not .User) (not .User.Email) }}
      <a href="/auth/login"
        class="flex items-center gap-3 px-4 py-2 border border-gray-300 rounded-md shadow-sm bg-white text-gray-700 hover:bg-gray-50 transition">
        Sign in
      </a>
      
      {{ else }}

      <div x-data="{ open: false }" class="relative">
        <button @click="open = !open" class="flex items-center space-x-2 focus:outline-none">
          <img src="{{ .User.Avatar }}" alt="User Avatar" class="avatar-img w-10 h-10 rounded-full border-2 border-indigo-500">
        </button>

        <div x-show="open" @click.away="open = false" x-transition
          class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-50">
          <div class="py-2 text-sm text-gray-700">
            <a href="/dashboard" class="block px-4 py-2 hover:bg-gray-100">Dashboard</a>
            <a href="/profile" class="block px-4 py-2 hover:bg-gray-100">Profile</a>
            <a href="/auth/logout" class="block px-4 py-2 hover:bg-red-100 text-red-600">Logout</a>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  </div>
</nav>


{{ end }}
